@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow);
body {
	background: url(../images/bg.png);
	width: 100 %;
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.vrch {
	height: 200px;;
	
}
header {
	background: url(../images/edventure_logo.png) no-repeat center;
	padding-bottom: 1%;
	text-indent: -7000px;
	text-align: center;
}
h2 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.5em;
	font-weight:normal;
	letter-spacing: 0.0625em;
	color: #333333;
	text-align: center;
}

.vrch p {
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.125em;
	color: #333333;
}
a {
	text-decoration: none;
	color: #fe6f17;
	font-weight: bold;
}
	
img {
	max-width: 100%;
	overflow: hidden;
}

#content {
	width: 100%;
	height: 1000px;
	position: relative;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	max-width: 100%;
	overflow: hidden;
}

.main {
	position: relative;
	padding-top: 8%;
	padding-left: 25%;
	width: 50%;
	height: auto;
}

.MimoSkolu {
	position: absolute;
	top: 25%;
	max-width: 15%;
	left: 20%;
}

.Kisked {
	position: absolute;
	top: 5%;
	max-width: 15%;
	left: 59%;
}

.Hacking {
	position: absolute;
	top: 19%;
	max-width: 15%;
	right: 0%;
}

.Partneri {
	position: absolute;
	top: 80%;
	left: 35%;
	max-width: 15%;
}


.Kisk {
	position: absolute;
	top: 86%;
	left: 19%;
	max-width: 15%;
}

.EduIn {
	position: absolute;
	top: 105%;
	left: 30%;
	max-width: 15%;
}

.CentrumVzdelavania {
	position: absolute;
	top: 100%;
	left: 45%;
	max-width: 15%;
}

#fotky{
	position: absolute;
	top: 85%;
	left: 80%;
	width: 80%;
	height: 42%;
	max-width: 100%;
	
}

.FotkyOuter {
	position: relative;
	overflow: hidden;
	width: 70%;
}

.Tim {
	position: absolute;
	top: 30%;
	right: 30%;
	max-width: 45%;
}

.Tomas {
	position: absolute;
	top: 75%;
	right: 78%;
	max-width: 15%;
	
}

.Adam {
	position: absolute;
	top: 15%;
	right: 2%;
	max-width: 15%;
}

.Svetlana {
	position: absolute;
	top: 15%;
	right: 82%;
	max-width: 15%;
	opacity: 1;
}
.SvetlanaTop {
	position: absolute;
	top: 15%;
	right: 82%;
	opacity: 0;
	max-width: 150%;
}

.SvetlanaTop:hover {
	opacity: 1;
	max-width: 50%;
}
.Jan {
	position: absolute;
	top: 75%;
	right: 10%;
	max-width: 15%;
}

#FotkyInner {
	position: absolute;
	top: 13%;
	right: 13%;
	max-width: 75%;
}

.Franta {
	position: absolute;
	top: 8%;
	right: 46%;
	max-width: 15%;
}

.Jana {
	position: absolute;
	top: 47%;
	right: 8%;
	max-width: 15%;
}
	
.Hana {
	position: absolute;
	top: 47%;
	right: 78%;
	max-width: 15%;
}

.Tom {
	position: absolute;
	top: 77%;
	right: 42%;
	max-width: 17%;
}

footer {
	text-align: center;
	padding-bottom: 5%;
}

.info {
	text-align: center;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 1.125em;
	color: #333333;
	display: block;
	margin-bottom: 2%;
}
	
span:nth-child(2) {
	margin-top: 0;
	font-weight: bold;
	color: #fe6f17;
}
.SocialneSiete {
	margin-top: 2%;
	padding-top: 10%;
	display: inline;
}




	




